/* lib/assets/themes/dark/typography.css */
.sidebar-title {
  justify-content: space-between;
  align-items: center;
  display: flex;
  .title {
    font-weight: 800;
    font-size: var(--font-lg);
    color: var(--color-title);
    text-transform: uppercase;
    margin: 0;
  }
  .actions {
    gap: 0.25rem;
    align-items: center;
    display: flex;
  }
}

/* lib/assets/themes/dark/layout.css */
.sidebar-layout {
  background: var(--app-bg);
  flex-wrap: wrap;
  display: flex;
  .sidebar {
    background: var(--color-light);
    border-right: 1px solid var(--color-border);
    padding: var(--padding-lg);
    min-height: 100vh;
    width: var(--sidebar-width);
    flex-grow: 1;
  }
  .main {
    padding: var(--padding-lg);
    flex-grow: 999;
    flex-basis: 0;
  }
}

/* lib/assets/themes/dark/button.css */
.button {
  line-height: 1;
  cursor: pointer;
  &:hover {
    .icon {
      fill: var(--app-bg);
    }
  }
  .icon {
    fill: var(--color-text);
    aspect-ratio: 1 / 1;
    .button-lg & {
      height: var(--icon-lg);
    }
    .button-md & {
      height: var(--icon-md);
    }
    .button-sm & {
      height: var(--icon-sm);
    }
  }
  &.button-sm {
    font-size: var(--font-sm);
    border-radius: var(--padding-sm);
    padding: var(--padding-sm);
  }
  &.button-md {
    font-size: var(--font-md);
    border-radius: var(--padding-md);
    padding: var(--padding-md);
  }
  &.button-lg {
    font-size: var(--font-lg);
    border-radius: var(--padding-lg);
    padding: var(--padding-lg);
  }
  &.button-ctrl {
    border-color: var(--color-border);
    color: var(--color-text);
  }
  &.button-primary {
    border-color: var(--brand-regular);
  }
  &.button-success {
    border-color: var(--success-regular);
    color: var(--success-dark);
  }
  &.button-danger {
    border-color: var(--danger-regular);
    color: var(--danger-dark);
  }
  &.button-solid {
    &.button-ctrl {
      background: var(--color-text);
      color: white;
    }
    &.button-danger {
      background: var(--danger-regular);
      color: white;
    }
    &.button-primary {
      background: var(--brand-regular);
      color: white;
    }
    &.button-success {
      background: var(--success-regular);
      color: white;
    }
  }
  &.button-soft {
    &.button-ctrl {
      background: var(--color-light);
      color: var(--color-text);
    }
    &.button-danger {
      background: var(--danger-light);
      color: var(--danger-regular);
    }
    &.button-primary {
      background: var(--brand-light);
      color: var(--brand-regular);
    }
    &.button-success {
      background: var(--success-light);
      color: var(--success-regular);
    }
  }
  &.button-link {
    text-decoration: underline;
    &.button-ctrl {
      color: var(--color-text);
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
    }
    &.button-success {
      color: var(--success-regular);
    }
  }
  &.button-transparent {
    background: transparent;
    &.button-ctrl {
      color: var(--color-text);
      &:hover {
        background: var(--color-text);
      }
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
    }
    &.button-success {
      color: var(--success-regular);
    }
  }
  &.button-border-thin {
    border-style: solid;
    border-width: 1px;
  }
  &.button-border-thick {
    border-style: solid;
    border-width: 4px;
  }
}

/* lib/assets/themes/dark.css */
:root {
  --sidebar-bg: #3f3f46;
  --main-padding: 1rem;
  --sidebar-width: 20rem;
  --sidebar-padding: 1rem;
  --brand-light: #f3e8ff;
  --brand-regular: #a855f7;
  --brand-dark: #6b21a8;
  --danger-light: #dcfce7;
  --danger-regular: #22c55e;
  --danger-dark: #166534;
  --success-light: #dcfce7;
  --success-regular: #22c55e;
  --success-dark: #166534;
  --padding-lg: 1rem;
  --padding-md: 0.5rem;
  --padding-sm: 0.25rem;
  --color-light: ;
  --color-border: ;
  --color-text: ;
  --color-title: ;
  --icon-lg: 1.75rem;
  --icon-md: 1.5rem;
  --icon-sm: 1.25rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.75rem;
  --app-bg: #52525b;
}
