/* lib/assets/themes/light/box.css */
.collapsible-box {
  gap: var(--padding-sm);
  width: 100%;
  flex-direction: column;
  display: flex;
  .collapsible_box-header_class {
  }
  .collapsible_box-content_class {
  }
  &.collapsible-box-open {
  }
  &.collapsible-box-closed {
    .collapsible_box-content_class {
      display: none;
    }
  }
}
.box {
  background: var(--app-bg-2);
  border: 1px solid var(--color-border);
  &.box-sm {
    padding: var(--padding-sm);
  }
  &.box-md {
    padding: var(--padding-md);
  }
  &.box-lg {
    padding: var(--padding-lg);
  }
}

/* lib/assets/themes/light/button.css */
.button {
  line-height: 1;
  border: none;
  cursor: pointer;
  &:hover {
    .button-icon_class {
      fill: var(--app-bg);
    }
  }
  .button-icon_class {
    aspect-ratio: 1 / 1;
    .button-sm & {
      height: var(--icon-sm);
    }
    .button-md & {
      height: var(--icon-md);
    }
    .button-lg & {
      height: var(--icon-lg);
    }
  }
  &.button-sm {
    font-size: var(--font-sm);
    border-radius: var(--padding-sm);
    padding: var(--padding-sm);
  }
  &.button-md {
    font-size: var(--font-md);
    border-radius: var(--padding-md);
    padding: var(--padding-md);
  }
  &.button-lg {
    font-size: var(--font-lg);
    border-radius: var(--padding-lg);
    padding: var(--padding-lg);
  }
  &.button-ctrl {
    border-color: var(--color-border);
    color: var(--color-text);
  }
  &.button-primary {
    border-color: var(--brand-regular);
  }
  &.button-success {
    border-color: var(--success-regular);
    color: var(--success-dark);
  }
  &.button-danger {
    border-color: var(--danger-regular);
    color: var(--danger-dark);
  }
  &.button-solid {
    &.button-success {
      background: var(--success-regular);
      color: white;
    }
    &.button-primary {
      background: var(--brand-regular);
      color: white;
    }
    &.button-danger {
      background: var(--danger-regular);
      color: white;
    }
    &.button-ctrl {
      background: var(--color-text);
      color: white;
    }
  }
  &.button-soft {
    &.button-success {
      background: var(--success-light);
      color: var(--success-regular);
    }
    &.button-primary {
      background: var(--brand-light);
      color: var(--brand-regular);
    }
    &.button-danger {
      background: var(--danger-light);
      color: var(--danger-regular);
    }
    &.button-ctrl {
      background: var(--app-bg-2);
      color: var(--color-text);
    }
  }
  &.button-link {
    text-decoration: underline;
    &.button-success {
      color: var(--success-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-ctrl {
      color: var(--color-text);
    }
  }
  &.button-transparent {
    background: transparent;
    &.button-success {
      color: var(--success-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
      &:hover {
        background: var(--brand-regular);
        .button-icon_class {
          fill: white;
        }
      }
      .button-icon_class {
        fill: var(--brand-regular);
      }
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-ctrl {
      color: var(--color-text);
      &:hover {
        background: var(--color-text);
        .button-icon_class {
          fill: var(--app-bg);
        }
      }
      .button-icon_class {
        fill: var(--color-light);
      }
    }
  }
  &.button-border-thin {
    border-style: solid;
    border-width: 1px;
  }
  &.button-border-thick {
    border-style: solid;
    border-width: 4px;
  }
}

/* lib/assets/themes/light/input.css */
.fieldset {
  gap: var(--padding-md);
  flex-direction: column;
  display: flex;
}
.group {
  gap: var(--padding-sm);
  &.group-vertical {
    flex-direction: column;
    display: flex;
  }
  &.group-horizontal {
    grid-template-columns: 120px 1fr;
    align-items: center;
    display: grid;
  }
}
.label {
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.select {
  background: transparent;
  border-radius: var(--padding-sm);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  cursor: pointer;
  padding: var(--padding-md);
  width: 100%;
  &:hover {
    background: var(--color-border);
  }
}

/* lib/assets/themes/light/layout.css */
.sidebar-layout {
  background: var(--app-bg);
  display: grid;
  .sidebar_layout-sidebar_class {
    gap: var(--padding-lg);
    background: var(--app-bg-2);
    border-right: 1px solid var(--color-border);
    padding: var(--padding-lg);
    min-height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
  .sidebar_layout-main_class {
    padding: var(--main-padding);
    flex-grow: 999;
    flex-basis: 0;
  }
  &.sidebar-layout-open {
    grid-template-columns: var(--sidebar-width) 1fr;
  }
  &.sidebar-layout-closed {
    grid-template-columns: var(--sidebar-width-collapsed) 1fr;
    &:hover {
      .sidebar_layout-sidebar_class {
        background: var(--color-border);
      }
    }
    .sidebar_layout-sidebar_class {
      cursor: pointer;
      padding: 0;
      * {
        display: none;
      }
    }
  }
}
.inspect-layout {
  flex-direction: row;
  display: flex;
  .inspect_layout-main_class {
    flex-grow: 999;
    flex-direction: column;
    flex-basis: 0;
    display: flex;
  }
  .inspect_layout-sidebar_class {
    gap: var(--padding-lg);
    padding: var(--padding-lg);
    width: var(--page-sidebar-width);
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
}
.grid-layout {
  gap: var(--padding-lg);
  flex-direction: column;
  display: flex;
  .grid_layout-variant_class {
    gap: var(--padding-md);
    flex-direction: row;
    display: flex;
  }
}
.editor-layout {
  gap: var(--padding-lg);
  flex-direction: row;
  display: flex;
  .editor_layout-main_class {
    gap: var(--padding-lg);
    flex-grow: 999;
    flex-direction: column;
    flex-basis: 0;
    display: flex;
  }
  .editor_layout-preview_class {
  }
  .editor_layout-editors_container_class {
    gap: var(--padding-lg);
    display: grid;
  }
  .editor_layout-sidebar_class {
    gap: var(--padding-lg);
    width: var(--page-sidebar-width);
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
  &.editor-layout-one {
    .editor_layour-editors_container_class {
      grid-template-columns: 1fr;
    }
  }
  &.editor-layout-two {
    .editor_layout-editors_container_class {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.editor-layout-three {
    .editor_layout-editors_container_class {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &.editor-layout-four {
    .editor_layout-editors_container_class {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &.editor-layout-five {
    .editor_layout-editors_container_class {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

/* lib/assets/themes/light/nav.css */
.nav-list {
  display: flex;
  .nav_list-item_class {
    font-size: var(--font-md);
    border-radius: var(--padding-md);
    color: var(--color-text);
    text-decoration: none;
    padding: var(--padding-md) var(--padding-lg);
    &:hover {
      background: var(--app-bg-3);
    }
  }
  .nav_list-item_selected_class {
    background: var(--app-bg-3);
    color: var(--color-title);
  }
  &.nav-list-vertical {
    gap: var(--padding-sm);
    width: 100%;
    flex-direction: column;
  }
  &.nav-list-horizontal {
    gap: var(--padding-sm);
    flex-direction: row;
    .nav_list-item_class {
      width: 100%;
    }
  }
}

/* lib/assets/themes/light/table.css */
.table {
  border-collapse: collapse;
  width: 100%;
  & tr .table-th_class:last-child,
  & tr .table-td_class:last-child {
    border-right: 0;
  }
  & tr .table-th_class:first-child,
  & tr .table-td_class:first-child {
    border-left: 0;
  }
  & thead tr:first-child .table-th_class {
    border-top: 0;
  }
  & tbody tr:last-child .table-td_class {
    border-bottom: 0;
  }
  .table-th_class {
    font-weight: var(--weight-bold);
    font-size: var(--font-sm);
    border: 1px solid var(--color-border);
    color: var(--color-light);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding: var(--padding-md);
  }
  .table-td_class {
    border: 1px solid var(--color-border);
    color: var(--color-text);
    padding: var(--padding-md);
  }
}

/* lib/assets/themes/light/typography.css */
.sidebar-title {
  margin-bottom: var(--padding-lg);
  justify-content: space-between;
  align-items: center;
  display: flex;
  .sidebar_title-title_class {
    font-weight: 800;
    font-size: var(--font-xl);
    box-shadow: var(--app-bg-2) 4px 4px 0 -2px, var(--color-title) 4px 4px;
    border: 2px solid var(--color-title);
    color: var(--color-title);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: var(--padding-sm) var(--padding-md);
    margin: 0;
  }
  .sidebar_title-subtitle_class {
    font-weight: var(--weight-regular);
    font-size: var(--font-md);
    letter-spacing: 4px;
    text-align: center;
    display: block;
  }
  .sidebar_title-actions_class {
    gap: var(--padding-sm);
    align-items: center;
    display: flex;
  }
}
.sidebar-subtitle {
  justify-content: space-between;
  align-items: center;
  display: flex;
  .sidebar_subtitle-subtitle_class {
    position: relative;
    font-weight: var(--weight-light);
    font-size: var(--font-md);
    color: var(--color-light);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    &:before {
      position: absolute;
      border-bottom: 1px solid var(--color-light);
      content: "";
      height: 1px;
      width: 26px;
      left: 0;
      bottom: 0;
    }
  }
  .sidebar_subtitle-actions_class {
    gap: var(--padding-sm);
    align-items: center;
    display: flex;
  }
}
.page-title {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--padding-md);
  margin-bottom: var(--padding-lg);
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  .page_title-title_class {
    font-weight: var(--weight-bold);
    font-size: var(--font-lg);
    color: var(--color-title);
    margin: 0;
    display: inline-flex;
  }
  .page_title-subtitle_class {
    font-weight: var(--weight-light);
    color: var(--color-light);
    display: inline-flex;
  }
  .page_title-actions_class {
  }
}
.page-subtitle {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  .page_subtitle-subtitle_class {
    font-weight: var(--weight-regular);
    font-size: var(--font-md);
    color: var(--color-light);
    margin: 0;
  }
  .page_subtitle-actions_class {
  }
}

/* lib/assets/themes/light.css */
:root {
  --main-padding: 1rem 1.5rem;
  --page-sidebar-width: 28rem;
  --sidebar-width-collapsed: 1rem;
  --sidebar-width: 20rem;
  --sidebar-padding: 1rem;
  --brand-light: #f3e8ff;
  --brand-regular: #a855f7;
  --brand-dark: #6b21a8;
  --danger-light: #dcfce7;
  --danger-regular: #22c55e;
  --danger-dark: #166534;
  --success-light: #dcfce7;
  --success-regular: #22c55e;
  --success-dark: #166534;
  --padding-lg: 1rem;
  --padding-md: 0.5rem;
  --padding-sm: 0.25rem;
  --color-light: #a1a1aa;
  --color-border: #e4e4e7;
  --color-text: #52525b;
  --color-title: #27272a;
  --icon-lg: 1.75rem;
  --icon-md: 1.5rem;
  --icon-sm: 1.25rem;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 500;
  --font-xl: 1.75rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.75rem;
  --app-bg-3: #e4e4e7;
  --app-bg-2: #f4f4f5;
  --app-bg: #fafafa;
}
