/* lib/assets/themes/light/typography.css */
.sidebar-subtitle {
  justify-content: space-between;
  align-items: center;
  display: flex;
  .subtitle {
    font-weight: 400;
    font-size: var(--font-md);
    color: var(--color-light);
    text-transform: uppercase;
    margin: 0;
  }
  .actions {
    gap: var(--padding-sm);
    align-items: center;
    display: flex;
  }
}
.sidebar-title {
  margin-bottom: var(--padding-lg);
  justify-content: space-between;
  align-items: center;
  display: flex;
  .title {
    font-weight: 800;
    font-size: var(--font-lg);
    color: var(--color-title);
    text-transform: uppercase;
    margin: 0;
  }
  .subtitle {
    font-weight: 400;
    font-size: var(--font-md);
    color: var(--color-text);
    display: block;
  }
  .actions {
    gap: var(--padding-sm);
    align-items: center;
    display: flex;
  }
}

/* lib/assets/themes/light/nav.css */
.nav-list {
  display: flex;
  .item {
    font-size: var(--font-md);
    border-radius: var(--padding-md);
    color: var(--color-text);
    text-decoration: none;
    padding: var(--padding-md) var(--padding-lg);
    &:hover {
      background: var(--app-bg-3);
    }
  }
  .item-selected {
    background: var(--app-bg-3);
  }
  &.nav-list-vertical {
    width: 100%;
    flex-direction: column;
    gap: var(--padding-sm);
  }
  &.nav-list-horizontal {
    gap: var(--padding-sm);
    flex-direction: row;
    .item {
      width: 100%;
    }
  }
}

/* lib/assets/themes/light/layout.css */
.sidebar-layout {
  background: var(--app-bg);
  flex-wrap: wrap;
  display: flex;
  .sidebar {
    gap: var(--padding-lg);
    background: var(--app-bg-2);
    border-right: 1px solid var(--color-border);
    padding: var(--padding-lg);
    min-height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
  .main {
    padding: var(--padding-lg);
    flex-grow: 999;
    flex-basis: 0;
  }
  &.sidebar-layout-open {
    .sidebar {
      width: var(--sidebar-width);
    }
  }
  &.sidebar-layout-closed {
    &:hover {
      .sidebar {
        background: var(--color-border);
      }
    }
    .sidebar {
      cursor: pointer;
      padding: 0;
      width: var(--sidebar-width-collapsed);
      width: var(--sidebar-width-collapsed);
      * {
        display: none;
      }
    }
  }
}

/* lib/assets/themes/light/button.css */
.button {
  line-height: 1;
  border: none;
  cursor: pointer;
  &:hover {
    .icon {
      fill: var(--app-bg);
    }
  }
  .icon {
    aspect-ratio: 1 / 1;
    .button-sm & {
      height: var(--icon-sm);
    }
    .button-md & {
      height: var(--icon-md);
    }
    .button-lg & {
      height: var(--icon-lg);
    }
  }
  &.button-sm {
    font-size: var(--font-sm);
    border-radius: var(--padding-sm);
    padding: var(--padding-sm);
  }
  &.button-md {
    font-size: var(--font-md);
    border-radius: var(--padding-md);
    padding: var(--padding-md);
  }
  &.button-lg {
    font-size: var(--font-lg);
    border-radius: var(--padding-lg);
    padding: var(--padding-lg);
  }
  &.button-ctrl {
    border-color: var(--color-border);
    color: var(--color-text);
  }
  &.button-primary {
    border-color: var(--brand-regular);
  }
  &.button-success {
    border-color: var(--success-regular);
    color: var(--success-dark);
  }
  &.button-danger {
    border-color: var(--danger-regular);
    color: var(--danger-dark);
  }
  &.button-solid {
    &.button-success {
      background: var(--success-regular);
      color: white;
    }
    &.button-primary {
      background: var(--brand-regular);
      color: white;
    }
    &.button-danger {
      background: var(--danger-regular);
      color: white;
    }
    &.button-ctrl {
      background: var(--color-text);
      color: white;
    }
  }
  &.button-soft {
    &.button-success {
      background: var(--success-light);
      color: var(--success-regular);
    }
    &.button-primary {
      background: var(--brand-light);
      color: var(--brand-regular);
    }
    &.button-danger {
      background: var(--danger-light);
      color: var(--danger-regular);
    }
    &.button-ctrl {
      background: var(--app-bg-2);
      color: var(--color-text);
    }
  }
  &.button-link {
    text-decoration: underline;
    &.button-success {
      color: var(--success-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-ctrl {
      color: var(--color-text);
    }
  }
  &.button-transparent {
    background: transparent;
    &.button-success {
      color: var(--success-regular);
    }
    &.button-primary {
      color: var(--brand-regular);
      &:hover {
        background: var(--brand-regular);
        .icon {
          fill: white;
        }
      }
      .icon {
        fill: var(--brand-regular);
      }
    }
    &.button-danger {
      color: var(--danger-regular);
    }
    &.button-ctrl {
      color: var(--color-text);
      &:hover {
        background: var(--color-text);
        .icon {
          fill: var(--app-bg);
        }
      }
      .icon {
        fill: var(--color-light);
      }
    }
  }
  &.button-border-thin {
    border-style: solid;
    border-width: 1px;
  }
  &.button-border-thick {
    border-style: solid;
    border-width: 4px;
  }
}

/* lib/assets/themes/light/box.css */
.collapsible-box {
  gap: var(--padding-md);
  width: 100%;
  flex-direction: column;
  display: flex;
  .header {
  }
  .content {
  }
  &.collapsible-box-open {
  }
  &.collapsible-box-closed {
    .content {
      display: none;
    }
  }
}

/* lib/assets/themes/light.css */
:root {
  --main-padding: 1rem;
  --sidebar-width-collapsed: 1rem;
  --sidebar-width: 20rem;
  --sidebar-padding: 1rem;
  --brand-light: #f3e8ff;
  --brand-regular: #a855f7;
  --brand-dark: #6b21a8;
  --danger-light: #dcfce7;
  --danger-regular: #22c55e;
  --danger-dark: #166534;
  --success-light: #dcfce7;
  --success-regular: #22c55e;
  --success-dark: #166534;
  --padding-lg: 1rem;
  --padding-md: 0.5rem;
  --padding-sm: 0.25rem;
  --color-light: #a1a1aa;
  --color-border: #e4e4e7;
  --color-text: #52525b;
  --color-title: #27272a;
  --icon-lg: 1.75rem;
  --icon-md: 1.5rem;
  --icon-sm: 1.25rem;
  --font-lg: 1.5rem;
  --font-md: 1rem;
  --font-sm: 0.75rem;
  --app-bg-3: #e4e4e7;
  --app-bg-2: #fafafa;
  --app-bg: #fff;
}
