<!doctype html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="⋅ Galeria">
      <%= assigns[:page_title] || "Index" %>
    </.live_title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;800&display=swap"
      rel="stylesheet"
    />

    <link phx-track-static rel="stylesheet" href={galeria_css_url(@conn)} />
    <link phx-track-static rel="stylesheet" href={current_galeria_theme_url(@conn)} />
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/lite-code-editor/esm/prism-editor.js"></script>
    <script defer phx-track-static type="text/javascript" src={js_url(@conn)}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
